<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<div class ="container">
	<div class="row">
		<div><%=f.label :plofaile %></div>
		<div><%= f.text_field :plofile %></div>

		<div>%= f.file_field :image %><</div>
  		<%= f.submit %>
	</div>
</div>