<div class="swiper-container">
<div class="swiper-wrapper">
	<div class="swiper-slide"><%= image_tag asset_path("home1.jpg") %></div>
	<div class="swiper-slide"><%= image_tag asset_path("home2.jpg") %></div>
	<div class="swiper-slide"><%= image_tag asset_path("home3.jpg") %></div>
	<div class="swiper-slide"><%= image_tag asset_path("home4.jpg") %></div>
</div>
	<div class="swiper-pagination"></div>
</div>